/* 顶部内容区域 */
#jd_top .top_content{
    height: 30px;
    width: 1000px;
    margin:0 auto;
}
/* 顶部去向首页 */
.top_content .to_index{
    float: left;
    height: 30px;
    line-height: 30px;
}
.to_index a{
    color: #5c545a;
    font-size: 12px;
}

/* 顶部中间登录区域 */
.top_content_center{
    float:right;
    font-size: 12px;
    height: 30px;
}
/* logo搜索区域 */
.logo_search_content{
    width: 1000px;
    margin: 0 auto;
    height: 59px;
    padding-top: 28px;
    padding-bottom: 10px;
}
/* 左侧logo */
.logo_left{
    float: left;
    overflow: hidden;
}
.logo_left a{
    float: left;
    width: 134px;
    height: 42px;
    margin-right: 20px;
}
.logo_left img{
    width: 100%;
    height: 100%;
}
.logo_left strong{
    font-size: 18px;
    float: left;
    padding-top: 20px;
}
/* 右侧搜索框 */
.logo_right{
    float: right;
    width: 324px;
    height: 24px;
    background: #c91623;
    margin-top: 20px;
    padding: 2px;
}
.logo_right input{
    border: none;
    width: 264px;
    height: 24px;
    line-height: 24px;
    padding-left: 6px;
}
.logo_right button{
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    background: none;
    width: 48px;
    height: 24px;
    line-height: 24px;
}
/* 去购物 */
.jd_toshop_content{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
.toshop_box{
    width: 700px;
    height: 60px;
    padding-top: 110px;
    margin-left: 250px;
}
.toshop_box aside{
    float: left;
    margin-right: 20px;
}
.shopbox_right{
    float: left;
}
.shopbox_right p{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}
.shopbox_right em{
    display: inline-block;
    width: 44px;
    height: 26px;
    background: #e54346;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
}
.shopbox_right em a{
    color: #fff;
}
.shopbox_right span a{
    font-size: 12px;
    color: #005ea7;
    margin-left: 10px;
}
/* 购物盒子 */
.jd_shopbox_content{
    width: 1000px;
    height: 357px;
    margin: 0 auto;
}
.jd_shopbox_content header{
    height: 32px;
}
.jd_shopbox_content header a{
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 6px;
    color: #666666;
    margin-right: 36px;
}
.jd_shopbox_content header a:hover{
    color:#e2231a;
    font-weight: bolder;
    border-bottom: 2px solid #e2231a;
}
.jd_shopbox_content .shop_btn{
    float: right;
    width: 50px;
    height: 8px;
    padding-top: 8px;
}
.shop_btn span{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #aaaaaa;
}
.shop_btn span:hover{
    width: 26px;
    background: #e4393c;
    border-radius: 5px;
    cursor: pointer;
}
.shop_btn span:nth-child(2){
    margin: 0 3px;
}
.jd_shopbox_content footer{
    overflow: hidden;
}
/* shop一个独立盒子区域 */
.shopbox_box{
    width: 248px;
    height: 285px;
    border: 1px dashed #ccc;
    padding-top: 20px;
    float: left;
}
.shopbox_box:hover{
    border: 1px solid #d91f20 ;
}
.shopbox_box img{
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}
.shopbox_box p{
    font-size: 12px;
    line-height: 18px;
    padding:  0 18px;
    margin: 8px 0 13px;
    height: 36px;
    overflow: hidden;
}
.shopbox_box h3{
    font-size: 12px;
    line-height: 12px;
    color: #d91f20;
    text-align: center;
    margin-bottom: 14px;
}
.shopbox_box .join_car{
    width: 124px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #999999;
    text-align: center;
    line-height: 30px;
    color: #666666;
    font-size: 12px;
    margin: 0 auto;
}
.shopbox_box .join_car:hover{
    background: #d91f20;
    color: #fff;
    border: none;
}
/* 多快好省 */
#jd_dk{
    background-color: #f4f4f4;
}
#jd_dk .jd_dk_content{
    width: 1000px;
}
.jd_dk_imgbox{
    width: 1000px;
}
.jd_dk_imgbox img{
    width: 870px;
    margin: 0 auto;
}
/* 京东底部链接 */
#jd_links{
    background-color: #f4f4f4;
}
.jd_links_content{
    width: 1000px;
}
.jd_links_nav .nav_one{
    width: 166px;
}
/* 关于我们 */
#jd_about{
    background-color: #f4f4f4;
}
.jd_about_content{
    width: 1000px;
}
.jd_about_nav li a{
    padding: 0 8px;
}